<!DOCTYPE html>
<html>
<head>
  <title>SteamApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<header>
<div class= "title_div">
  <h3 class= "title">Turbine</h3>
</div>
<div class=  "nav">
  <ul>
    <li class= "profile">
      <%= link_to  "Profile", root_path %>
    </li>

    <li class= "sign_in">
      <%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam' %>
    </li>
  </ul>
</div>
</header>

<body>







<%= yield %>
</body>
</html>
